:root{
  --text-input-field: #F7F7F7;
  --ligth-green: #ACD9B2;
  --ligth-green-two: #B6ECC5;
  --green: #92E3A9;
  --yellow: #fafa9c;
  --alert: #FF7F76;
  --error: #FF3300;
}

.container{
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  align-self: flex-end;
  gap: 40px;
  margin-top: 20px;
  margin-right: 10%;
  height: 60px;
}

.container button {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
}


.container button:hover{
  transform: scale(1.1);
  font-weight: 600;
  color: var(--alert);
}